<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileAppender"
			fileName="digisim.log" immediateFlush="false"
			append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
	<!-- 		<AppenderRef ref="ConsoleAppender" /> -->
			<AppenderRef ref="FileAppender" />
		</Root>
		<Logger name="nand1" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand2" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand3" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand4" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand5" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand6" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand7" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="nand8" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>

		<Logger name="not1" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>

		<Logger name="sw6" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="sw7" level="debug" additivity="false">
			<AppenderRef ref="FileAppender" />
		</Logger>

	</Loggers>
</Configuration>